.card img {
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.05);
}

.card {
  border-radius: 12px;
}

.btn {
  border-radius: 8px;
}
.sectionColor {
  background-color: rgb(95, 154, 140);
}
